<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}

    {% block javascripts %}

        {# {{ encore_entry_script_tags('app') }} #}
    {% endblock %}
</head>
<body class="d-flex flex-column h-100 ">
<div class="container">
    <div class="row">

        <aside class="col-sm-4 col-md-3 mt-3">
            <ul class="nav flex-column  sticky-top">
                {% block menu %}
                    <li class="nav-item">
                        <a href="/">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about-{{ name }}">About me</a>
                    </li>
                {% endblock %}
            </ul>
        </aside>

        {% block body %}{% endblock %}
    </div>
</div>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
        <span class="text-light "> © Becode</span>
    </div>

</footer>
</body>

</html>
