{% extends 'base.html.twig' %}

{% block title %}Hello LearningController!{% endblock %}

{% block body %}
    <div class=" col-sm-8 col-md-8  col-lg-9  text-center ">
        <h1>Hello {{ name | title }}! ✅</h1>
        {{ form(form) }}
    </div>
{% endblock %}
